@model IEnumerable<Portifolio.Models.Motorista>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeCompletoMot)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CpfMot)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TelefoneMot)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailMot)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataNascimentoMot)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeCompletoMot)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CpfMot)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TelefoneMot)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailMot)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataNascimentoMot)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
