@model IEnumerable<Portifolio.Models.Veiculo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PlacaVeic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModeloVeic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MarcaVeic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CapacidadeLiquidaVeic)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PlacaVeic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModeloVeic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MarcaVeic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CapacidadeLiquidaVeic)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
